.home-flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-research-card {
  /* width: 50%; */
  /* max-width: 30rem; */
  height: auto;
  min-height: 20rem;

  margin: 1rem;
  padding: 0.5rem 1rem;

  width: calc(90% / 2);
  justify-content: flex-start;

  backdrop-filter: blur(1rem);
}

#home-research-card > div,
#home-research-card > h1 {
  border-bottom: 1px dotted #afafaf;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#home-research-card > h1 {
  border-bottom: 0.4rem solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#home-research-card > div:last-child,
#home-research-card > h1:last-child {
  border-bottom: none;
}

#home-research-card-title {
  width: auto;
  min-width: 18rem;
  height: auto;

  font-size: 1.8rem;
  font-weight: bold;
}

#home-research-card-subtitle {
  width: 100%;
  height: auto;

  font-size: 1.2rem;

  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: flex-start; */
  /* gap: 0.8rem; */
}

#home-research-card-subtitle p {
  min-width: calc(50% - 10px);

  height: auto;
  margin: 0.2rem;
  white-space: nowrap;

  text-align: center;
}

#home-research-card-explaination {
  width: 100%;
  height: auto;

  font-size: 1rem;
}

#home-research-card-tags {
  width: 90%;
  height: auto;

  flex-wrap: wrap;
}

#home-research-card-tags p {
  margin: 0rem 0.5rem;
  font-size: 0.8rem;
}
