#join-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#join-wrapper section {
  width: 100%;
  height: auto;

  min-width: 10rem;
  max-width: 20rem;
}

#join-wrapper section > form {
  width: 100%;
  height: 100%;
  min-height: 20rem;

  min-width: 10rem;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
}

.join-email {
  width: 100%;
  height: auto;
  margin: 0rem 0.5rem 1.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-email input:focus {
  border: 20px solid gray;
  transition: all 0.2s ease-in-out;
}

.join-email input:invalid {
  border: 20px solid red;
  transition: all 0.2s ease-in-out;
}

.join-message {
  width: 100%;
  height: auto;
  margin: 0rem 0.5rem 1.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-btn-wrapper {
  width: 100%;
  height: auto;
  margin: 0rem 0.5rem 1.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-btn-wrapper button {
  border: none;
  background-color: mediumspringgreen;
}

.join-btn-wrapper button:hover {
  background: chocolate; /*마우스를 올려놓을 때*/
}
.join-btn-wrapper button:focus {
  background: red; /*클릭 후 계속 포커스 상태일 때*/
}
.join-btn-wrapper button:active {
  background: brown; /*클릭 중일 때*/
}
