.people-wrapper {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.people-header {
  width: 100%;
  height: auto;
}

.people-card-wrapper {
  width: 100%;
  height: auto;

  padding: 1rem 0.4rem 0.4rem 1rem;

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;

  /* background-color: #e7e6e1; */
}

.people-degree-header {
  width: 100%;
  height: auto;
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  text-align: center;
}

.people-degree-header h2 {
  width: 70%;
  height: 100%;
  margin-bottom: 0.5rem;
  border-bottom: 0.15rem solid #e7e6e1;
}
