.news-card {
  width: 100%;
  height: auto;
  min-width: 18rem;

  margin: 0.2rem 2rem 0.2rem 2rem;
  padding: 0 2rem;

  /* background-color: gray; */
}

.news-card-date-wrapper {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
}
.news-card-date {
  width: auto;
  height: auto;
  margin: 0;
}
.news-card h1 {
  font-size: 1rem;
}

.news-card-content {
  width: 100%;
  height: 100%;

  backdrop-filter: blur(1rem);
}
