#home-research-wrapper {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: #0f0f0f;
  color: #f0f0f0;
}

#home-research-card-wrapper {
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/images/lablvm-title-bg.png");
}
