---
import Badge from "../common/Badge.astro";
import { slugify } from "../../utils/slug";
import { getLocalizedTagLabel } from "../../i18n/tags";
import type { Locale } from "../../i18n/types";
import { getLocalePath, translate } from "../../i18n/utils";

interface Props {
  tags: readonly string[];
  linked?: boolean;
  locale?: Locale;
}

const { tags, linked = true, locale = "en" } = Astro.props;
---

<ul class="blog-tag-list" aria-label={translate(locale, "writing.tags")}>
  {tags.map((tag) => (
    <li>
      {linked ? (
        <a href={getLocalePath(locale, `/blog/tags/${slugify(tag)}/`)}>
          <Badge>{getLocalizedTagLabel(tag, locale)}</Badge>
        </a>
      ) : (
        <Badge>{getLocalizedTagLabel(tag, locale)}</Badge>
      )}
    </li>
  ))}
</ul>

<style>
  .blog-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .blog-tag-list a {
    text-decoration: none;
  }
</style>
