.app {
  width: 100%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
}

.app__content {
  width: 100%;
  max-width: 100rem;
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);
}
